*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 0px 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 1);
    position: sticky;
    top: 0;
}
.container{
    width:90%;
    margin: 0 auto;
}
.navbar-list{
    text-transform: uppercase;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
}
.navbar-list li {
    color: white;
}
